@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 30px;
    margin-bottom: 10px;
    text-align: center;
}

h1 {
    margin: 0;
}

nav {
    text-align: center;
    padding: 15px;
}

nav a {
    text-decoration: none;
    color: #333;
    margin: 15px;
    font-weight: 600;
}

nav a:hover {
    color: #007bff;
}

main {
    padding: 20px;
    margin: 20px;
}

section {
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    border-radius: 8px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}


/* =========================
   WEEK 2 DAY 1 - CSS GRID
   ========================= */

.grid-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    padding: 20px;
}

.grid-card {
    background-color: lightblue;
    padding: 20px;
    border-radius: 8px;
}

.wide-card {
    grid-column: span 2;
}

.tall-card {
    grid-row: span 2;
}


/* Responsive Grid */

@media (max-width: 700px) {
    .grid-section {
        grid-template-columns: 1fr;
    }

    .wide-card,
    .tall-card {
        grid-column: span 1;
        grid-row: span 1;
    }
}